
main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  transform: translateY(-20%);
}

.board {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  pointer-events: auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.played {
  pointer-events: none;
}

.info-box {
  display: flex;
  max-width: 400px;
  font-size: large;
  line-height: 0.5cm;
  text-align: justify;
}


.hidden {
  visibility: hidden;
}
